@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    background-color: #25252A;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 85px;
}

.btn-1{
    width: 500px;
    height: 100px;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid white;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn-1:hover{
    color: white;
    cursor: pointer;
}

.btn-1:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #b185db;
}

.btn-1:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

i{
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 40;
    position: absolute;
    left: 25px;
}

.button-text{
    background-color: rgba(0, 0, 0, 0);
}

.footer-class {
    background: rgb(32, 32, 32);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-top {
    background: rgb(32, 32, 32);
    width: 100%;
    height: 700px;
    position: absolute;
    bottom: 600px;
    left: 0;
}

.footer-text{
    color: rgb(184, 184, 184);
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}

.top-footer-image{
    border-radius: 50px;
    margin-top: 117px;
    border-radius:100%;
    border:5px solid white;
    position: relative;
    pointer-events: none;
    display: flex;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

body {
    overflow: hidden;
}
